::-webkit-input-placeholder { /* Edge */
  color: #b3b8ca;
  font-weight: 600;
  font-size: 14px;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #b3b8ca;
  font-weight: 600;
  font-size: 14px;
}

::placeholder {
  color: #b3b8ca;
  font-weight: 600;
  font-size: 14px;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
::-webkit-scrollbar-track {
  background-color: #eaeaea;
  border-left: 1px solid #ccc;
}
::-webkit-scrollbar-thumb {
  background-color: #afacad;
}
::-webkit-scrollbar-thumb:hover {
background-color: #aaa;
}

.inboxStructure {
  max-width: 1030px;
  /* min-width: 1030px; */
  max-height: 600px;
  height: 567px;
  margin-top: 12px;
  display: block;
  box-shadow: 0px 0px 14px 3px #0000003b;
  border-radius: 2px;
  font-family: 'Assistant', sans-serif;
  cursor: default;
  overflow: hidden;
}

.inboxHeaderSection {
  height: 11%;
  width: 100%;
  border-bottom: 1px solid #4c4c4c24;
  background-color: white;
  position: relative;
  display: flow-root;
  z-index: 1;
}

.inboxLeftTitleHeader {
  float: left;
  margin: 20px;
  font-size: 15px;
  color: #76758b;
  font-weight: 700;
  text-transform: capitalize;
  cursor: pointer;
}

span.inboxCountMessagesHeader {
  color: #b3b8ca;
}

.inboxLeftTitleHeader i {
  color: #b3b8ca;
  position: relative;
  top: -2px;
  /* cursor: pointer; */
}

.inboxRightTitleHeader {
  float: right;
  padding-top: 14px;
}

.inboxRightSearchButtonHeader {
  width: 43px;
  text-align: center;
  padding-top: 9px;
  height: 24px;
  color: #aaacbe;
  background-color: #e2e5ee;
  font-size: 14px;
  border-radius: 2px;
  cursor: pointer;
  float: right;
  cursor: pointer;
}

.inboxRightNewMessageButtonHeader {
  float: right;
  margin-left: 10px;
  background-color: #798AF7;
  color: white;
  font-size: 14px;
  font-weight: 700;
  padding: 7px 17px 7px 17px;
  margin-right: 15px;
  border-radius: 2px;
  cursor: pointer;
}
.inboxLeftSection {
  float: left;
  width: 40%;
  padding-top: 14px;
}

img {
  /* max-width: 100px; */
}

.inboxRightSection {
  float: right;
  max-width: 55%;
  width: 55%;
  background-color: #e2e5ee;
  box-shadow: -1px 2px 18px 1px #0000000f;
  position: relative;
  height: 100%;
  /* overflow: hidden; */
  height: 500px;
  /* display: grid; */
}

.inboxContentStructure {
  clear: both;
  width: 100%;
  height: 89%;
  background-color: #f3f3f8;
  max-height: 100%;
  display: inline-block;
  position: relative;
}

.messageBoxSubjectStructure {
  width: 100%;
  height: 57px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 6px;
  background-color: white;
  border-radius: 2px;
  box-shadow: 0px 0px 20px #80808024;
  cursor: pointer;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  padding-left: 0px;
}

.messageBoxMainImage img {
  width: 40px;
  /* float: left; */
  max-width: 50px;
  position: relative;
  top: 3px;
}

.messageBoxMainTitles {
  float: left;
  width: 30%;
  /* color: #8b8ca1; */
  /* font-weight: 700; */
  padding-top: 11px;
}

.messageBoxMainImage {
  width: 20%;
  float: left;
  text-align: center;
}

.messageBoxMainTitle {
  color: #76758b;
  font-weight: 700;
  font-size: 13px;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
  /* color: #76758b; */
  /* font-weight: 700; */
  /* font-size: 16px; */
}

.messageBoxSubTitle {
  color: #b3b8ca;
  font-weight: 600;
  font-size: 14px;
  position: relative;
  top: -3px;
}

.messageBoxMain {
  float: left;
  width: 40%;
  color: #76758b;
  font-weight: 700;
  font-size: 16px;
  padding-top: 11px;
}

.messageBoxDate {
  /* width: 5%; */
  /* float: left; */
  color: #b3b8ca;
  font-weight: 600;
  font-size: 14px;
  position: relative;
  top: -3px;
}

.messageBoxOptions {
  width: 10%;
  float: left;
  text-align: center;
  padding-top: 21px;
  color: #76758b;
}

.messageBoxDate i {
  color: #8BC34A;
  font-size: 6px;
  position: relative;
  top: -2px;
}

.messageBoxMainImage.messageBoxMainDiamondImage img {
  /* max-width: 100%; */
  position: relative;
  /* max-height: 100%; */
  top: -3px;
  border-radius: 1px;
  /* max-width: unset; */
  left: 0px;
  width: 63px;
  max-width: unset;
}

.messageContentBoxHeaderStructure {
  background-color: white;
  box-shadow: -1px 2px 18px 1px #0000000f;
  height: 75px;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}

.messageContentBoxHeaderTitles {
  float: left;
  padding-top: 18px;
  width: 100%;
}

.messageContentBoxHeaderMainTitle {
  font-size: 17px;
  color: #76758b;
  font-weight: 700;
  width: 100%;
  /* float: left; */
  padding-left: 62px;
  padding-left: 0px;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
  text-align: center;
}

.messageContentBoxHeaderSubTitle {
  color: #b3b8ca;
  font-weight: 600;
  font-size: 14px;
  position: relative;
  top: 0px;
  padding-left: 62px;
  padding-left: 0px;
  text-align: center;
}

.messageContentBoxHeaderSubTitle span {
  color: #76758b;
}

.messageContentBoxHeaderSubTitles {
  width: 32px;
  text-align: center;
  /* padding-top: 9px; */
  height: 27px;
  align-items: center;
  justify-content: center;
  display: flex;
  color: #aaacbe;
  background-color: #e2e5ee;
  font-size: 14px;
  border-radius: 2px;
  cursor: pointer;
  float: right;
  cursor: pointer;
  position: relative;
  bottom: 58px;
  right: -20px;
}

.messageContentBoxItemUserImage img {
  width: 27px;
  border-radius: 22px;
}

.messageContentBoxItemsStructure {
  padding-top: 1px;
  height: 315px;
  /* padding-bottom: 99px; */
  overflow: hidden;
  width: 100%;
}

.messageContentBoxItemStructure {
  width: 80%;
  /* float: left; */
  margin-bottom: 20px;
}

.messageContentBoxItem_in {
  float: left;
}

.messageContentBoxItem_out {
  float: right;
}

.messageContentBoxItemDescStructure {
  float: right;
  width: 90%;
  background-color: white;
  padding: 12px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 2px;
  /* box-shadow: 0px 0px 5px 3px #9898980d; */
}

.messageContentBoxItemWrapper {
  /* float: left; */
}

.messageContentBoxItemUserImage {
  float: left;
  width: 10%;
  text-align: center;
}

.messageContentBoxItemDesc {
  color: #76758b;
  font-weight: 600;
  font-size: 13px;
}

.messageContentBoxItemDate {
  color: #b3b8ca;
  font-weight: 600;
  font-size: 12px;
  margin-top: 3px;
}

.messageContentBoxItem_out .messageContentBoxItemUserImage {
  float: right;
}

.messageContentBoxInputStructure {
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.messageContentBoxInputStructure textarea {
  border: none;
  resize: none;
  margin-bottom: -30px;
  box-shadow: -1px 2px 18px 1px #0000000f;
  width: 100%;
  /* position: absolute; */
  /* bottom: 0px; */
  /* left: 0px; */
  height: 100%;
  /* color: red; */
  color: #76758b;
  font-weight: 600;
  font-size: 17px;
  padding: 10px;
  outline: none;
  padding-right: 112px;
}

.messageContentBoxItemsWrapper {
  /* position: relative; */
  overflow: auto;
  height: 100%;
  padding-top: 10px;
}

.inboxWrapper {
  height: 100%;
  margin-top: 0px;
  width: 100%;
  display: block;
  /* display: inline-block; */
}

.messageContentBoxInputButton {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 100px;
  height: 100%;
  background-color: #798AF7;
  cursor: pointer;
  color: white;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 24px;
  text-align: center;
  font-size: 20px;
  opacity:1;
}
.messageContentBoxInputButton:hover{
  background-color: #798AF7;
}
.messageBoxSubjectStructure:hover {
  padding-left: 10px;
  
}
.messageBoxSubjectStructureActive {
  padding-left: 30px!important;
  border-right: 4px solid #5a4dff;
}
.inboxRightSearchButtonHeader:hover{
  color:#76758b;
}
.messageContentBoxHeaderSubTitles:hover{
  color:#76758b;
}
.inboxRightNewMessageButtonHeader:hover{
  background-color: #483cda;
}
.messageBoxMainCompanyImage img {
  width: 57px;
  max-width: unset;
}
.messageBoxMainCompanyImage img {
  width: 60px;
  max-width: unset;
  top: 2px;
}

.messageBoxMainCompanyImage img.general {
  width: 40px;
  top: 8px;
}

.messageBoxMainCompanyImage img.ask-price {
  width: 60px;
  max-width: unset;
  top: -2px;
}
.messageBoxMainCompanyImage img.ask-price {
  width: 60px;
  max-width: unset;
  top: 3px;
}
.messageContentBoxHeaderMainImage img {
  width: 60px;
  /* float: left; */
  position: absolute;
  top: 14px;
  margin-left: -6px;
}

.messageContentBoxWrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.emptyRoomView {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.emptyRoomView > img {
  width: 83px;
}

.emptyRoomView > span {
  font-weight: bold;
  font-size: 20px;
}
.messageContentBoxHeaderMainImage {
  width: 62px;
  /* height: 20px; */
  display: none;
}
.messageBoxDate.messageBoxDateOff i {
  color: #9E9E9E;
}
.creditImageStructure {
  width: 45%;
  position: absolute;
  bottom: 0px;
  background-color: #202123;
  text-align: left;
  height: 34px;
}

.creditImageStructure img {
  width: 96px;
  position: relative;
  top: 10px;
  left: 20px;
}


.inputContainerStructure {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.inputStructure {
  /* float: left; */
  /* margin-right: 12px; */
  margin-bottom: 10px;
  flex-basis: 49%;
  display: flex;
  justify-content: center;
}

.inputStructure input {
  width: 100%;
  height: 37px;
  background-repeat: no-repeat;
  background-position-x: 7px;
  background-position-y: 12px;
  font-family: 'Assistant', sans-serif;
  border-radius: 6px;
  background-color: transparent;
  border: solid 2px #dcdcdc;
  padding: 0px;
  /* margin: auto; */
  font-size: 15px;
  font-weight: 600;
  padding-left: 16px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: none!important;
  transition: 0.1s linear;
}

.textAreaStructure {
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
}
.inputsStructure {
  width: 650px;
  margin: 33px auto;
}

.inputsStructure > .submitButton {
  /* float: right; */
  /* margin-left: 10px; */
  margin-top: 9px;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #798AF7;
  color: white;
  font-size: 19px;
  font-weight: 700;
  padding: 26px 17px;
  /* margin-right: 15px; */
  border-radius: 2px;
  box-sizing: border-box;
  cursor: pointer;
  transition: 0.3s;
}
.inputsStructure > .submitButton:hover {
  background-color: #6D7DE2;
}
.textAreaStructure textarea {
  width: 100%;
  height: 135px;
  border-radius: 6px;
  background-color: transparent;
  border: solid 2px #dcdcdc;
  padding: 0px;
  padding-left: 10px;
  padding-top: 10px;
  font-family: 'Assistant', sans-serif;
  font-size: 15px;
  font-weight: 600;
  /* background-image: url(../../assets/profile.svg); */
  outline: none;
  resize: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  transition: 0.1s linear;
}

.inputStructure input:focus,
.textAreaStructure textarea:focus {
  border: solid 2px black;
}

.inputsTitle {
  margin: 0 auto 30px auto;
  font-weight: 600;
  font-size: 25px;
  color: rgba(0,0,0,0.5);
}